
.table-style{
    border:1px solid blue;
    border-collapse:collapse;
}
.header-style{
font-size:20px;    
}
.body-style{
    background-color:LightBlue;
    word-wrap:break-word;
}
thead tr{
    border:1px solid blue;
}
tbody tr{
    border-bottom:1px solid;
}

table-row{
    border-bottom:1px solid;
}
.th1{
    width:25%;
    height:30px;
    text-align:center;
}
.th2{
    width:15%;    
    text-align:center;
}
.th3{
    width:20%;
    text-align:center;
}
.th4{
    width:25%;
    text-align:center;
}
.font{
    font-size:16px;
    font-family:sans-serif;
    font:bold;
}


