#popup_box {
            
            display: none;
            position: absolute;
            height: auto;
            width: 300px;            
            padding-right:.25px;
            background: #FFFFFF;            
            top: 12%;            
            z-index: 100;
            border: 2px solid #2981CF;            
            font-size: 15px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -moz-box-shadow: 2px 2px 5px 5px #2981CF;
            -webkit-box-shadow: 2px 2px 5px 5px #2981CF;
            box-shadow: 2px 2px 5px 5px #2981CF;                    
        }

        #popupBoxClose {                        
            right: 5px;
            top: 5px;
            position: absolute;            
        }
