#popup_box {
            display: none;
            position: absolute;
            height: auto;
            width: 300px;            
            padding-right:.25px;
            background: #FFD583;            
            top: 10%;            
            z-index: 100;
            border: 2px solid #E14E4E;            
            font-size: 15px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -moz-box-shadow: 2px 2px 5px 5px #E14E4E;
            -webkit-box-shadow: 2px 2px 5px 5px #E14E4E;
            box-shadow: 2px 2px 5px 5px #E14E4E;                    
        }

        #popupBoxClose {                        
            right: 5px;
            top: 5px;
            position: absolute;            
        }
