html
{
    font-family:Trebuchet MS;
    background-color:#ffffff;
}
center
{
    
    background-color:#ffffff;
}
.cursor{
 cursor:pointer;   
}

.hide{
    display:none;
}

.header-temp{
     width:100%;
     height:20px;
     text-align:center;
     font-size:13px;
     color:White;
     background-color:#29291F;
     position:fixed;
 }

.header{
     width:100%;
    z-index:100;
    background: rgb(30,87,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzU4NmQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzY0YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(53,134,212,1) 0%, rgba(32,124,202,1) 100%, rgba(28,100,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(53,134,212,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(28,100,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c64ab',GradientType=0 ); /* IE6-8 */

    border-bottom:1px solid #C5C4C4;
     position:fixed;
     -webkit-box-shadow: 0px 0px 8px 2px #C5C4C4;
       -moz-box-shadow: 0px 0px 8px 2px #C5C4C4;
            box-shadow: 0px 0px 8px 2px #C5C4C4;
    
}
.header-font{
   
    font-weight:bold;
    color:#ffffff;
    font-size:14px;
    
}

.empty-div{
    margin-bottom:30px;
}
  .btn-tmp{
    border-radius:3px!important;
     outline:none!important;
     width:80%!important;               
     height:35px!important;
     text-align:center!important;
     font-size:17px!important;
     margin:auto!important;
     vertical-align:center!important;
     text-align:center!important;
        font-style: normal!important;
     margin:5px 0 5px 0!important;
     font-family:sans-serif!important;
  color: #fff;
     border: 1px solid #2D82D0;
     background: rgb(30,87,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzU4NmQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzY0YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(53,134,212,1) 0%, rgba(32,124,202,1) 100%, rgba(28,100,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(53,134,212,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(28,100,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c64ab',GradientType=0 ); /* IE6-8 */

     }

/*ReturnButton, Cancel Button*/
.specialBtn{
     border-radius:2px!important;
     outline:none!important;
     width:50%;               
     height:25px!important;
     text-align:center!important;
     font-size:12px!important;
     margin:auto!important;
     vertical-align:center!important;
     text-align:center!important;
     font-style: normal!important;
     margin:5px 0 5px 0!important;
     font-family:sans-serif!important;
     color: white;
     border: 1px solid #2D82D0;
     background: rgb(30,87,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzU4NmQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzY0YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(53,134,212,1) 0%, rgba(32,124,202,1) 100%, rgba(28,100,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(53,134,212,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(28,100,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c64ab',GradientType=0 ); /* IE6-8 */

}

/*FOR FOOTER BACKGROUND COLOR*/
.btn-tmpFooter{
    /* border-radius:3px!important; */
     outline:none!important;
     width:100%!important;               
     height:35px!important;
     text-align:center!important;
     font-size:17px!important;
     margin:auto!important;
     vertical-align:center!important;
     text-align:center!important;
        font-style: normal!important;
    /* margin:5px 0 5px 0!important;*/
     font-family:sans-serif!important;
  color: #333;
     /*border: 1px solid #bbb;*/
 background: rgb(30,87,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzU4NmQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzY0YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(53,134,212,1) 0%, rgba(32,124,202,1) 100%, rgba(28,100,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(53,134,212,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(28,100,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c64ab',GradientType=0 ); /* IE6-8 */

     }




.btn-Login{
     border-radius:3px!important;
     outline:none!important;
     width:65%!important;               
     height:35px!important;
     text-align:center!important;
     font-size:17px!important;
     margin:auto!important;
     vertical-align:center!important;
     text-align:center!important;
        font-style: normal!important;
     margin:5px 0 5px 0!important;
     font-family:sans-serif!important;
  color: #fff;
     border: 1px solid #2D82D0;
     background: rgb(30,87,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzU4NmQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzY0YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(53,134,212,1) 0%, rgba(32,124,202,1) 100%, rgba(28,100,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(53,134,212,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(28,100,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(53,134,212,1) 0%,rgba(32,124,202,1) 100%,rgba(28,100,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1c64ab',GradientType=0 ); /* IE6-8 */


}

.btn-Edit{
     border-radius:3px;
     outline:none;
     width:80%;               
     height:35px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
    background-image: linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -o-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -moz-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -webkit-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -ms-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.55, rgb(1,5,10)),
	color-stop(0.19, rgb(0,16,28))
);

     }

.img-tmp{
    width:40%;
    height:50px;
    position:static;
    z-index:1;
}

.start-btn{
     border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
    cursor:pointer;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #448247;
   background: rgb(107,186,112); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZiYmE3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YmJhNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(107,186,112,1) 0%, rgba(107,186,112,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,186,112,1)), color-stop(100%,rgba(107,186,112,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-8 */

}

.sign-inbtn{
     border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     cursor:pointer;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
 background: rgb(125,126,125); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
color: #333;
     border: 1px solid #bbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #F4F4F4 /*{a-bar-background-start}*/ ), to( #C3C3C3 /*{a-bar-background-end}*/ )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #F4F4F4 /*{a-bar-background-start}*/, #C3C3C3 /*{a-bar-background-end}*/ ); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #F4F4F4 /*{a-bar-background-start}*/, #C3C3C3 /*{a-bar-background-end}*/ ); /* FF3.6 */
    background-image: -ms-linear-gradient( #F4F4F4 /*{a-bar-background-start}*/, #C3C3C3 /*{a-bar-background-end}*/ ); /* IE10 */
    background-image: -o-linear-gradient( #F4F4F4 /*{a-bar-background-start}*/, #C3C3C3 /*{a-bar-background-end}*/ ); /* Opera 11.10+ */
    background-image: linear-gradient( #F4F4F4 /*{a-bar-background-start}*/, #C3C3C3 /*{a-bar-background-end}*/ );
     }
.sign-inbtn:hover{
     border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     cursor:pointer;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
 background: rgb(125,126,125); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
color: #333;
     border: 1px solid #bbb;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{d-bar-background-start}*/ ), to( #bbb /*{d-bar-background-end}*/ )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ddd /*{d-bar-background-start}*/, #bbb /*{d-bar-background-end}*/ ); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #ddd /*{d-bar-background-start}*/, #bbb /*{d-bar-background-end}*/ ); /* FF3.6 */
    background-image: -ms-linear-gradient( #ddd /*{d-bar-background-start}*/, #bbb /*{d-bar-background-end}*/ ); /* IE10 */
    background-image: -o-linear-gradient( #ddd /*{d-bar-background-start}*/, #bbb /*{d-bar-background-end}*/ ); /* Opera 11.10+ */
    background-image: linear-gradient( #ddd /*{d-bar-background-start}*/, #bbb /*{d-bar-background-end}*/ );
     }
.logo{
    width:110px;
    height:50px;
}

 input[type="text"], input[type="password"]{
      width:80%;
      border-radius:3px;
      height:28px;
      text-align:center;
      font-size:15px;
      color:#6E6E6E;
      margin:2px 0 4px 0;
      font-weight:bold;
      border:1px solid #2A81CF;
  }

input[type="text"]:focus{
    border-collapse:collapse;
    outline:none;
    border:1px solid #2A81CF;
    box-shadow: 0 0 8px #95999E;
    background-color:#F2F5A9;
}

input[type="password"]:focus{
    border-collapse:collapse;
    outline:none; 
    border:1px solid #2A81CF;
    box-shadow: 0 0 8px #95999E;
    background-color:#F2F5A9;
}
     ::-webkit-input-placeholder {
        text-align:center;
     }

     :-moz-placeholder { /* Firefox 18- */
        text-align:center;  
     }

     ::-moz-placeholder {  /* Firefox 19+ */
        text-align:center;  
     }

     :-ms-input-placeholder {  
        text-align:center; 
     }
      .footer-temp{
         width:100%;
         height:50px;
         background-color:#569A73;
     }
.div-tile{
    width:80%;
    height:5%;
    border-radius:5px;
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */


    margin:4px 4px 4px 4px;
    color:Black;
    text-align:center;
    font-size:15px;
    padding-top:30px;
    cursor:pointer;
    text-decoration:none;
}

.font-style{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:14px;
    color:Black;
}
.font-Label{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    color:Black;
}
#datepickers{
    background-image:url('/images/datebox.png');
    z-index:100;
}
.div-grid{
    width:100%
}
.table{
    width:100%;
    border:1px solid black;
}
.td{
    width:25%;
}

.slogan{
    font-weight:bold;
    font-family:Comic Sans;
    font-size:12px;
}
.back
{
    border-radius:3px;
     outline:none;
     width:40%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
    
}
  .backbtn
{
     border-radius:3px;
     outline:none;
     width:40%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}

.btn-tmp-engage{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #902623;
    background-color:#A52A2A;
    /*
    background-image: linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -o-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -moz-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -webkit-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -ms-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #8A1D1D),
	color-stop(0.52, #A64939),
	color-stop(0.76, #C95353)
);*/
}


.btn-tmp-check{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #902623;
    background-color:#336699;
   
}

.btn-tmp-avail{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #269023;
    background-color:#008000;
   /* background-image: linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
/*background-image: -o-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -moz-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -webkit-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -ms-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);

/*background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #1D8A1D),
	color-stop(0.52, #48A63A),
	color-stop(0.76, #54C754)
);*/
}
/*change button color */
.btn-common{
    border-radius:3px;
     outline:none;
     width:83%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #fff;
    background-color:#008000;
 background-image: linear-gradient(bottom, rgb(3,26,12) 36%, rgb(31,36,36) 68%);
background-image: -o-linear-gradient(bottom, rgb(3,26,12) 36%, rgb(31,36,36) 68%);
background-image: -moz-linear-gradient(bottom, rgb(3,26,12) 36%, rgb(31,36,36) 68%);
background-image: -webkit-linear-gradient(bottom, rgb(3,26,12) 36%, rgb(31,36,36) 68%);
background-image: -ms-linear-gradient(bottom, rgb(3,26,12) 36%, rgb(31,36,36) 68%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(3,26,12)),
	color-stop(0.68, rgb(31,36,36))
);
}
.btn-tmp-onway{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #8D8F25;
 
   
    background-image: linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -o-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -moz-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -webkit-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -ms-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #868A1E),
	color-stop(0.52, #A6A13A),
	color-stop(0.76, #C3C756)
);
    
}

.btn-tmp-reject{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #DD2809;
    background-color:#FF0000;
   /* background-image: linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -o-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -moz-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -webkit-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -ms-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #DB2504),
	color-stop(0.52, #F25348),
	color-stop(0.76, #F7613B)
);*/
}


.select-choice{
      width:80%;
      border-radius:3px;
      height:28px;
      text-align:center;
      font-size:15px;
      color:#6E6E6E;
      margin:2px 0 2px 0;
      font-weight:bold;
      vertical-align:text-middle;
}

.btnsize
{
     border-radius:3px;
     outline:none;
     width:30%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}

.btnsize2
{
     border-radius:3px;
     outline:none;
     width:90%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}



