 .header-temp{
     width:100%;
     height:50px;
     background-color:#569A73;
     text-align:center;
     font-size:16px;
     color:#414548;
 }
 .btn-tmp{
 width:80%;               
 height:45px;
 background-color:#8DD242;
 border-radius:10px;
 text-align:center;
 font-size:20px;
 color:#980500;
 border:2px solid #639ECD;
 margin:5px 0 5px 0;
 }
 input[type="text"]{
      width:80%;               
      height:45px;
      background-color:white;
      border-radius:10px;
      text-align:left;
      font-size:20px;
      color:Black;
      border:2px solid #639ECD;
      margin:5px 0 5px 0;
      border-collapse:collapse;
  }
input[type="password"]{
     width:80%;               
      height:45px;
      background-color:white;
      border-radius:10px;
      text-align:left;
      font-size:20px;
      color:Black;
      border:2px solid #639ECD;
      margin:5px 0 5px 0;
      border-collapse:collapse;  
}
     ::-webkit-input-placeholder {
        text-align:center;
     }

     :-moz-placeholder { /* Firefox 18- */
        text-align:center;  
     }

     ::-moz-placeholder {  /* Firefox 19+ */
        text-align:center;  
     }

     :-ms-input-placeholder {  
        text-align:center; 
     }
      .footer-temp{
         width:100%;
         height:50px;
         background-color:#569A73;
     }
.div-tile{
    width:80%;
    height:5%;
    border-radius:5px;
    background-image: linear-gradient(bottom, #4E807E 32%, #68E6D1 62%);
    background-image: -o-linear-gradient(bottom, #4E807E 32%, #68E6D1 62%);
    background-image: -moz-linear-gradient(bottom, #4E807E 32%, #68E6D1 62%);
    background-image: -webkit-linear-gradient(bottom, #4E807E 32%, #68E6D1 62%);
    background-image: -ms-linear-gradient(bottom, #4E807E 32%, #68E6D1 62%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, #4E807E),
	color-stop(0.62, #68E6D1)  
);
    margin:4px 4px 4px 4px;
    color:Black;
    text-align:center;
    padding-top:30px;
    cursor:pointer;
    text-decoration:none;
}
