.cursor{
 cursor:pointer;   
}

.hide{
    display:none;
}

.header-temp{
     width:100%;
     height:20px;
     text-align:center;
     font-size:13px;
     color:White;
     background-color:#29291F;
     position:fixed;
 }

.header{
     width:100%;
     height:48px;
     background-color:#29291F;
     position:fixed;
    
}
.header-font{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;;
    font-weight:bold;
    color:#FFF200;
    font-size:16px;
}

.empty-div{
    margin-bottom:30px;
}
 .btn-tmp{
     border-radius:3px;
     outline:none;
     width:80%;               
     height:35px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
    background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);

     }

.btn-Edit{
     border-radius:3px;
     outline:none;
     width:80%;               
     height:35px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
    background-image: linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -o-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -moz-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -webkit-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);
background-image: -ms-linear-gradient(bottom, rgb(1,5,10) 55%, rgb(0,16,28) 19%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.55, rgb(1,5,10)),
	color-stop(0.19, rgb(0,16,28))
);

     }

.img-tmp{
    width:40%;
    height:50px;
    position:static;
    z-index:1;
}

.start-btn{
     border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #448247;
     background-image: linear-gradient(bottom, #0D8C13 36%, #0C9918 53%, #0AC90A 84%);
background-image: -o-linear-gradient(bottom, #0D8C13 36%, #0C9918 53%, #0AC90A 84%);
background-image: -moz-linear-gradient(bottom, #0D8C13 36%, #0C9918 53%, #0AC90A 84%);
background-image: -webkit-linear-gradient(bottom, #0D8C13 36%, #0C9918 53%, #0AC90A 84%);
background-image: -ms-linear-gradient(bottom, #0D8C13 36%, #0C9918 53%, #0AC90A 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0D8C13),
	color-stop(0.53, #0C9918),
	color-stop(0.84, #0AC90A)
);
}

.sign-inbtn{
     border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
    background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}

.logo{
    width:100px;
    height:50px;
}
 input[type="text"], input[type="password"]{
      width:80%;
      border-radius:3px;
      height:28px;
      text-align:center;
      font-size:15px;
      color:#6E6E6E;
      margin:2px 0 4px 0;
      font-weight:bold;
      border:1px solid #A6A6A6;
  }

input[type="text"]:focus{
    border-collapse:collapse;
    outline:none;
    border:1px solid #95999E;
    box-shadow: 0 0 8px #95999E;
    background-color:#F2F5A9;
}

input[type="password"]:focus{
    border-collapse:collapse;
    outline:none; 
    border:1px solid #95999E;
    box-shadow: 0 0 8px #95999E;
    background-color:#F2F5A9;
}
     ::-webkit-input-placeholder {
        text-align:center;
     }

     :-moz-placeholder { /* Firefox 18- */
        text-align:center;  
     }

     ::-moz-placeholder {  /* Firefox 19+ */
        text-align:center;  
     }

     :-ms-input-placeholder {  
        text-align:center; 
     }
      .footer-temp{
         width:100%;
         height:50px;
         background-color:#569A73;
     }
.div-tile{
    width:80%;
    height:5%;
    border-radius:5px;
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */


    margin:4px 4px 4px 4px;
    color:Black;
    text-align:center;
    font-size:15px;
    padding-top:30px;
    cursor:pointer;
    text-decoration:none;
}

.font-style{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;;
    font-weight:bold;
    color:Black;
}
.div-grid{
    width:100%;
}
.table{
    width:100%;
    border:1px solid black;
}
.td{
    width:25%;
}

.slogan{
    font-weight:bold;
    font-family:cursive;
    font-size:13px;
}
.back
{
    border-radius:3px;
     outline:none;
     width:40%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
    
}
  .backbtn
{
     border-radius:3px;
     outline:none;
     width:40%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}

.btn-tmp-engage{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #902623;
    background-image: linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -o-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -moz-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -webkit-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);
background-image: -ms-linear-gradient(bottom, #8A1D1D 3%, #A64939 52%, #C95353 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #8A1D1D),
	color-stop(0.52, #A64939),
	color-stop(0.76, #C95353)
);
}

.btn-tmp-avail{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #269023;
    background-image: linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -o-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -moz-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -webkit-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);
background-image: -ms-linear-gradient(bottom, #1D8A1D 3%, #48A63A 52%, #54C754 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #1D8A1D),
	color-stop(0.52, #48A63A),
	color-stop(0.76, #54C754)
);
}

.btn-tmp-onway{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #8D8F25;
    background-image: linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -o-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -moz-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -webkit-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);
background-image: -ms-linear-gradient(bottom, #868A1E 3%, #A6A13A 52%, #C3C756 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #868A1E),
	color-stop(0.52, #A6A13A),
	color-stop(0.76, #C3C756)
);
}

.btn-tmp-rejec{
    border-radius:3px;
     outline:none;
     width:75%;               
     height:39px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #DD2809;
    background-image: linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -o-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -moz-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -webkit-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);
background-image: -ms-linear-gradient(bottom, #DB2504 3%, #F25348 52%, #F7613B 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #DB2504),
	color-stop(0.52, #F25348),
	color-stop(0.76, #F7613B)
);
}
.select-choice{
      width:80%;
      border-radius:3px;
      height:33px;
      text-align:center;
      font-size:15px;
      color:#6E6E6E;
      margin:2px 0 4px 0;
      font-weight:bold;
     
      outline:none;
      vertical-align:text-middle;
    
}

.btnsize
{
     border-radius:3px;
     outline:none;
     width:30%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}

.btnsize2
{
     border-radius:3px;
     outline:none;
     width:90%;               
     height:30px;
     text-align:center;
     font-size:17px;
     color:#FFFFFF;
     font-weight:bold;
     font-style: normal;
     margin:5px 0 5px 0;
     font-family:sans-serif;
     border:1px solid #0A210A;
     background-image: linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -o-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -moz-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -webkit-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);
    background-image: -ms-linear-gradient(bottom, #0A210A 36%, #2A332A 53%, #5D615D 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, #0A210A),
	color-stop(0.53, #2A332A),
	color-stop(0.84, #5D615D)
);
}
